@use '../../components/task-list/task-list.component.scss' as *;
@use '../../components/task-item/task-item.component.scss' as *;

.done-task-list {
  margin: 1rem;
  padding: 1rem;
  background: #b34b4b3a;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  .controls-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #252525ca;
  }

  .done-controls {
    margin-left: 0.75rem !important;
  }

  .done-dropdown {
    min-width: 100px;
  }

  .task-card {
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 0.8rem;
    transition: 0.3s;

    h3 {
      color: #d1d1d1;
      font-size: 1.1rem;
    }

    p {
      color: #a2a2a2;
      font-size: 0.9rem;
    }

    .task-date {
      font-size: 0.8rem;
      color: #777;
    }

    
    &:hover {
      background: #323232;
    }
    
  }

  #delete {
    background-color: #bc0808bc;
    color: #bcbcbc;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 0.75rem;

    &:hover {
      background-color: #580000 !important;
    }
  }

  @media (max-width: 768px) {
    #delete {
      font-size: 0.90rem;
    }
  }
  
}
