<div class="done-task-list">
  
  <h3>here comes your done stuff</h3>

  <div class="controls-panel">
    <!-- Delete All Done Tasks Button -->
    <button id="delete" class="cancel-btn" (click)="openDeleteAllModal()">delete all done</button>
  </div>

  <!-- List of Done Tasks -->
  <div *ngIf="doneTasks.length > 0; else noTasks">
    <app-task-item 
      *ngFor="let task of doneTasks"
      [task]="task"
      [isDoneTasksView]="true"
      (toggleCompleted)="onToggleTask($event)"
      (deleteTask)="openDeleteModal($event)"
      (editTask)="openEditModal($event)">  
    </app-task-item>
  </div>
  
  <!-- No Tasks Message -->
  <ng-template #noTasks>
    <p>nothing done. really?</p>
  </ng-template>

  <!-- Delete Single Task Modal -->
  <app-delete-confirmation-modal 
    *ngIf="showDeleteModal"
    [taskTitle]="taskToDelete?.title || ''"
    (confirmDelete)="confirmDelete()"
    (cancelDelete)="showDeleteModal = false">
  </app-delete-confirmation-modal>

  <!-- Undo Confirmation Modal -->
  <app-delete-confirmation-modal 
    *ngIf="showUndoModal"
    [isUndo]="true"
    [taskTitle]="taskToUndo?.title || ''"
    (confirmDelete)="confirmUndo()"
    (cancelDelete)="showUndoModal = false">
  </app-delete-confirmation-modal>

  <!-- Delete All Done Tasks Modal -->
  <app-delete-confirmation-modal 
    *ngIf="showDeleteAllModal"
    [isBulkDelete]="true"
    (confirmDelete)="deleteAllDoneTasks()"
    (cancelDelete)="showDeleteAllModal = false">
  </app-delete-confirmation-modal>

  <!-- Edit Task Modal -->
<div class="modal-overlay" *ngIf="showEditModal">
  <div class="modal">
    <h3>edit task</h3>
    
    <label>title</label>
    <input type="text" [(ngModel)]="taskToEdit!.title">
    
    <label>description</label>
    <textarea [(ngModel)]="taskToEdit!.description"></textarea>
    
    <label>priority</label>
    <select [(ngModel)]="taskToEdit!.priority">
      <option value="1">critical</option>
      <option value="2">focus</option>
      <option value="3">pipeline</option>
    </select>
    
    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeEditModal()">cancel</button>
      <button class="save-btn" (click)="saveEditedTask()">save</button>
    </div>
  </div>
</div>

</div>
