@use '../login/login.component.scss';
@use '../../../components/auth-form/auth-form.component.scss';

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  background-color: #33333397;
  border-radius: 5%;
  margin-top: 3rem;
  min-width: 300px;
}

.login-title {
  pointer-events: none;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #c1c1c1;
  pointer-events: none;
}

.login-subtitle {
  pointer-events: none !important;
}

.form-label {
  align-self: flex-start; 
  margin-top: 0.75rem;
  font-weight: 600;
  color: #c1c1c1;
  font-family: 'Baloo 2', sans-serif;
}

input, textarea, select {
  background: #333;
  color: #bcbcbc;
  border: 1px solid #555;
  padding: 0.5rem;
  border-radius: 5px;
  min-width: 250px;
}


.auth-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  // margin: 0.5rem;

  button {
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    background: #0fb5a5;
    color: #ededed;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    // transition: background 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;
    margin-top: 3rem;
    width: 180px;

    &:hover {
      background: #077568;
      // background: #ff4081 !important;
      color: #ededed;
      transform: scale(1.05);
    }
  }

  .flowx-word {
    color: #ededed !important;
    transition: color 0.3s ease;

    &:hover {
      color: #ff4081 !important;
    }
  }
}


@media (max-width: 768px) {
  // .content {
  //   flex-direction: column;
  //   align-items: center;
  // }

  // .home-panel {
  //   align-items: center;
  // }

  .home-buttons {
    width: 180px;
  }
}