@use '../login/login.component.scss';
@use '../../../components/auth-form/auth-form.component.scss';

.form-label {
  align-self: flex-start; 
  margin-top: 0.75rem;
  font-weight: 600;
  color: #c1c1c1;
  font-family: 'Baloo 2', sans-serif;
}

input, textarea, select {
  background: #333;
  color: #bcbcbc;
  border: 1px solid #555;
  padding: 0.5rem;
  border-radius: 5px;
  min-width: 250px;
}


.auth-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  // margin: 0.5rem;

  button {
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    background: #0fb5a5;
    color: #ededed;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s ease;
    margin-top: 3rem;

    &:hover {
      background: #077568;
      // background: #ff4081 !important;
    }
  }

  .flowx-word {
    color: #ededed !important;
    transition: color 0.3s ease;

    &:hover {
      color: #ff4081 !important;
    }
  }
}