.task-card {
  background: #3b3b3b;
  // max-width: 1000px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px #b3b3b3;
  display: flex;
  flex-direction: column;
  // align-content: center;
  gap: 0.5rem;
  transition: 0.3s;

  &.completed {
    opacity: 0.3;
    // text-decoration: line-through;
  }

  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-meta-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
    padding-bottom: 0.2rem;
  }

  .task-date {
    font-size: 0.75rem;
    color: #707070; 
  }

  .completed-date {
    color: #0fb5a48e;
    font-weight: bold;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #c1c1c1;
  }
  
  .task-description {
    font-size: 0.9rem;
    color: #c1c1c1;
  }

  .priority-tag {
    padding: 4px 8px;
    margin-bottom: 0.2rem;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;

    &.critical {
      background: #ff4081;
      color: #fff;
    }
    &.focus {
      // background: #00bfa5;
      // background: #0fb5a5;
      background: #bb974b;
      color: #fff;
    }
    &.pipeline {
      background: #717171;
      color: #fff;
    }
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    // align-self: flex-start;
    cursor: pointer;
    user-select: none;
  
    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    .checkmark {
      background-color: #a7a7a770;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 4px;
      // border: 1.5px solid #2afaaa;      
      border: 1.5px solid #0fb5a5;      
      box-shadow: 0px 2px 5px #b3b3b3;
      display: inline-block;
      position: relative;
      transition: all 0.5s ease;
      margin-top: -0.5rem;
    }

    input:hover + .checkmark {
      transform: scale(1.1);
      // border: 2.5px solid #0fb5a5;
      background-color: #0fb5a461;
      box-shadow: 0px 4px 7px #b3b3b3;
    }

    input:active + .checkmark {
      transform: scale(0.95);
    }
  
    input:checked + .checkmark {
      // background-color: #2979ff;
      background-color: #0fb5a5;
    }
  
    input:checked + .checkmark::after {
      content: '✔';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.75rem;
    }
  }
  
  .task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    color: #b2b2b2;
  }

  .task-meta-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.75rem;
  }
  
  .muted-btn {
    background: #434343; 
    border: none;
    color: #707070;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  
    &:hover {
      background: rgba(255, 255, 255, 0.2);
      color: #bcbcbc;
      transform: scale(1.05);
    }
  
    &:active {
      transform: scale(1);
    }
  }

  .undo-btn {
    background: #0fb5a5;
    font-family: 'Inter', sans-serif;
    font-weight: 700 !important;
    color: #434343 !important;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
    &:hover {
      background: #0fb5a461;
      color: #cbcbcb !important;
      transform: scale(1.10);
    }

    input:active + .checkmark {
      transform: scale(0.95);
    }
  
  }

  #delete:hover {
    background-color: #7a050594 !important;
  }
  
}
