<div class="task-item">
  <div class="task-card" [ngClass]="{'completed': task.completed}">
    <div class="task-header">
      <h3>{{ task.title }}</h3>
      <span class="priority-tag" [ngClass]="getPriorityClass(task.priority)">
        {{ getPriorityText(task.priority) }}
      </span>
      
    </div>
    <p class="task-description">{{ task.description }}</p>
    <div class="task-footer">
      <span class="task-date">Created: {{ task.createdAt | date:'short' }}</span>
      <input type="checkbox" [(ngModel)]="task.completed">
    </div>
  </div>
</div>