<div class="auth-container">
  <h2>sign in to continue</h2>

  <label class="form-label">email</label>
  <input type="email" [(ngModel)]="email" placeholder="your email" required />

  <label class="form-label">password</label>
  <input type="password" [(ngModel)]="password" placeholder="your password" required />

  <div class="auth-buttons">
    <button (click)="login()" class="enter-btn">enter <span class="flowx-word">flowx</span></button>
  </div>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>