@use 'bootstrap/scss/bootstrap';

body {
  font-family: 'Inter', sans-serif;
  color: #d2d2d2 !important;
  background-color: #121212 !important; 
  min-height: 100vh;
}

// $primary-color: #ff4081;
// $secondary-color: #2196f3;
// $accent-color: #fbc02d;
