@use 'bootstrap/scss/bootstrap';

body {
  font-family: 'Inter', sans-serif;
  font-weight: 700 !important;
  color: #d2d2d2 !important;
  background-color: #121212 !important; 
  min-height: 100vh;
}

.done-task-list .task-card.completed {
  opacity: 0.8 !important;
  background: #292929 !important;
  box-shadow: 0px 2px 5px #850c0c;
}


$primary-color: #ff4081;
$secondary-color: #2196f3;
$accent-color: #fbc02d;
