<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>hi there</h1>
      <p>this is flowx, your next fav app</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <a
          class="pill"
          href="https://github.com/clasei/flowx-client"
          target="_blank"
          rel="noopener"
        >
          <span>dare to know me</span>
        </a>
        <a
          class="pill"
          href="https://github.com/clasei"
          target="_blank"
          rel="noopener"
        >
          <span>some cool links will be here</span>
        </a>
      </div>
    </div>
  </div>
</main>

<router-outlet />
