@use '../../../styles/global.scss' as *;
@use 'bootstrap/scss/bootstrap';
@use 'sass:color';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
}


.left-side h1 {
  color: $primary-color;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.right-side .pill-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-side .pill {
  background: #0fb5a5;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background: #065ca8;
    }
}

.divider {
  width: 1px;
  height: 100%;
  background: $primary-color;
  margin: 0 1rem;
}


@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}