<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>hi there</h1>
      <p>this is flowx, your next fav app</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <a
          class="pill"
          outerLink="/flowxboard"
        >
          <span>flowxboard</span>
        </a>
        <a
          class="pill"
          routerLink="/done"
        >
          <span>done</span>
        </a>
      </div>
    </div>
  </div>
</main>