
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // padding: 2.5rem;
  padding: 3rem 1.5rem;
  margin-top: 5rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
}

.login-title {
  pointer-events: none;
}

.left-side h1 {
  color: #ff4081;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.right-side .pill-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-side .pill {
  background: #0fb5a5;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background: #065ca8;
    }
}

.divider {
  width: 1px;
  height: 100%;
  background: #ff4081;
  margin: 0 1rem;
}

.home-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.signup-btn {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  text-decoration: none; 
  background: #0fb5a5;
  border: 1px solid #0fb5a5;
  color: #ededed;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  width: 180px;
  text-align: center;
  z-index: 2;

  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;

  &:hover {
    background: #077568;
    // background: #ff4081 !important;
    // color: #ff4081;
    color: #ededed;
    transform: scale(1.05);
  }
}

.login-btn {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  text-decoration: none; 
  // background: #0fb5a5;
  background: transparent;
  border: 1px solid #0fb5a5;
  color: #ededed;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  width: 180px;
  text-align: center;
  z-index: 2;

  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;

  &:hover {
    background: #077568;
    // background: #ff4081 !important;
    // color: #ff4081;
    color: #ededed;
    transform: scale(1.05);
  }
}

/* Glassmorphism Blob */
.glass-blob {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 240px;
  height: 240px;
  // background: linear-gradient(135deg, rgba(79, 180, 253, 0.25), rgba(255, 64, 128, 0.25));
  background: linear-gradient(135deg, #49b5fd25, #ff40800c);
  border-radius: 50%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(15px);
  // border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 42px #c1c1c154;
  animation: blobAnimation 10s infinite alternate ease-in-out;
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), box-shadow 0.5s ease, background 0.5s ease;
  transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
  // z-index: 1000;
  z-index: -1;
}

.glass-blob:hover {
  transform: scale(1.3) translateY(-5px) rotate(3deg);

  box-shadow: 0 10px 75px #c1c1c17d;;
}


@keyframes blobAnimation {
  0% {
    transform: scale(0.75) translateY(0px);
  }
  100% {
    transform: scale(1.2) translateY(15px);
  }
}


@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  // .home-panel {
  //   align-items: center;
  // }

  .home-buttons {
    width: 180px;
  }

  .glass-blob {
    top: auto;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
  }

  @media (max-width: 768px) {

    .main {
      padding: 1.5rem 1.5rem;
    }
  }
}