<div class="task-list">

  <h3>stuff to do starts here</h3>

  <!-- <button class="sort-btn" (click)="toggleSortOrder()">
    sort by priority {{ isAscending ? ' ⬇️' : ' ⬆️' }}
  </button> -->

  <!-- <div class="sort-container">
    <label for="sortToggle">priority up</label>
    <label class="switch">
      <input id="sortToggle" type="checkbox" (change)="toggleSortOrder()">
      <span class="slider"></span>
    </label>
    <label for="sortToggle">down</label>
  </div> -->

  <!-- <div class="sort-container">
    <span>priority</span>
    <span *ngIf="isAscending"> ↓ </span>
    <span *ngIf="!isAscending"> ↑ </span>
    <label class="switch">
      <input id="sortToggle" type="checkbox" (change)="toggleSortOrder()">
      <span class="slider"></span>
    </label>
  </div> -->
  
  <div class="sort-container">
    <span>priority</span>
    <label class="switch">
      <input id="sortToggle" type="checkbox" (change)="toggleSortOrder()">
      <span class="slider"></span>
    </label>
  </div>
  

  <div *ngIf="(tasks ?? []).length > 0; else noTasks">
    <app-task-item *ngFor="let task of tasks" [task]="task"></app-task-item>
  </div>

  <ng-template #noTasks>
    <p>No tasks found.</p>
  </ng-template>

</div>