.task-list {
  margin: 1rem;
}

.controls-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #252525;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

// .sort-btn {
//   background: #007bff5d;
//   color: white;
//   padding: 8px 12px;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: 0.3s;
  
//   &:hover {
//     background: darken(#007bff, 10%);
//   }
// }

.sort-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #d1d1d1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7e7e7e;
  border-radius: 34px;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #611514;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-container,
.sort-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

select {
  background: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}
