<div class="task-list">

  <!-- <h3>{{ username }}'s flowxboard</h3> -->
  <h3>flowxboard</h3>

  <div class="controls-panel">
    
    <!-- priority sort button -->
    <button 
      class="sort-btn" 
      (click)="toggleSortOrder()"
      [disabled]="selectedFilter !== 'all'">
      <!-- priority {{ isPriorityAscending ? '⬇️' : '⬆️' }} -->
       priority ↑↓ 
    </button>

    <!-- date sort button PENDING -- MAYBE -->
    <!-- <button 
      class="sort-btn" 
      (click)="toggleDateSort()">
      date {{ isDateAscending ? '⬇️' : '⬆️' }}
    </button> -->

    <!-- filter dropdown -->
    <div class="filter-container">
      <label class="label-title">filter</label>
      <select (change)="filterTasks($event)">
        <option value="all">all</option>
        <option value="critical">critical</option>
        <option value="focus">focus</option>
        <option value="pipeline">pipeline</option>
      </select>
    </div>

    <!-- slider for "show only top 3 tasks" -->
    <div class="sort-container">
      <span class="label-title">top 3 </span>
      <label class="switch">
        <input id="topTasksToggle" type="checkbox" (change)="toggleTopTasks()">
        <span class="slider"></span>
      </label>
    </div>

    <!-- slider for "show comlpleted" -->
    <div class="sort-container">
      <span class="label-title">view done </span>
      <label class="switch">
        <input id="completedTasksToggle" type="checkbox" (change)="toggleShowCompleted()">
        <span class="slider"></span>
      </label>
    </div>

    <!-- new task button -->
    <button class="new-task-btn" (click)="openNewTaskModal()">
      ➕ new
    </button>

  </div>

  <div *ngIf="(tasks ?? []).length > 0; else noTasks">

    <!------------------------ TASK ITEMS IS HERE -->
    <app-task-item 
      *ngFor="let task of tasks" 
      [task]="task"
      (toggleCompleted)="toggleTaskCompletion($event)"
      (deleteTask)="openDeleteModal($event)"
      (editTask)="openEditModal($event)">     
    </app-task-item>

  </div>

  <ng-template #noTasks>
    <p class="label-title">it's flowx time — build your next to-do</p>
  </ng-template>

  <!------------------------ NEW task modal ------------------------>
  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal">
      <h3 class="modal-title">ready to do</h3>

      <label class="modal-label">what are you gonna do?</label>
      <input [(ngModel)]="newTaskTitle" 
        type="text" 
        placeholder="call batman"
        (input)="validateForm()">
        <p class="input-hint">at least 3 characters</p>
      <!-- <p class="error" *ngIf="titleError">{{ titleError }}</p> -->


      <label class="modal-label">add some info if needed</label>
      <textarea [(ngModel)]="newTaskDescription" 
        placeholder="tell him to bring robin tonigt" 
        (input)="validateForm()">
      </textarea>
      <p class="error" *ngIf="descriptionError">{{ descriptionError }}</p>

      <label class="modal-label">choose priority</label>
      <select [(ngModel)]="newTaskPriority">
        <option value="1">critical</option>
        <option value="2">focus</option>
        <option value="3">pipeline</option>
      </select>

      <div class="recurring-task-container">
        <!-- Toggle Recurring Task -->
        <label id="toggle-label"  class="modal-label">

          make it a habit
          <input type="checkbox" [(ngModel)]="newTask.repeating">
          
        </label>

        <!-- Show Frequency Only If Recurring -->
        <div *ngIf="newTask.repeating" class="repeat-container">
          <label  class="modal-label">repeats every</label>
          <select [(ngModel)]="newTask.repeatInterval">
            <option [value]="1">day</option>
            <option [value]="7">week</option>
            <option [value]="14">2 weeks</option>
            <option [value]="21">3 weeks</option>
            <option [value]="30">month</option>
            <option [value]="90">quarter</option>
            <option [value]="365">year</option>
          </select>
        </div>
      </div>

      <div class="modal-actions">
        <button class="cancel-btn" (click)="closeModal()">cancel</button>
        <button class="new-task-btn" (click)="saveTask()" [disabled]="!isFormValid">create</button>
      </div>
    </div>
  </div>

    <!------------------------ Edit Task Modal ------------------------>
    <div class="modal-overlay" *ngIf="showEditModal">
      <div class="modal">
        <h3 class="modal-title">ready to change</h3>
        
        <label class="modal-label">title</label>
        <input type="text" [(ngModel)]="taskToEdit!.title">
        
        <label class="modal-label">description</label>
        <textarea [(ngModel)]="taskToEdit!.description"></textarea>
        
        <label class="modal-label">priority</label>
        <select [(ngModel)]="taskToEdit!.priority">
          <option value="1">critical</option>
          <option value="2">focus</option>
          <option value="3">pipeline</option>
        </select>
  
        <div class="recurring-task-container">
          <!-- Toggle Recurring Task -->
          <label id="toggle-label"  class="modal-label">

            turn this into a habit
            <input type="checkbox" [(ngModel)]="taskToEdit!.repeating">
            
          </label>
        
          <!-- Show Frequency Only If Recurring -->
          <div *ngIf="taskToEdit!.repeating" class="repeat-container">
            <label class="modal-label">repeats every</label>
            <select [(ngModel)]="taskToEdit!.repeatInterval">
              <option [value]="1">day</option>
              <option [value]="7">week</option>
              <option [value]="14">2 weeks</option>
              <option [value]="21">3 weeks</option>
              <option [value]="30">month</option>
              <option [value]="90">quarter</option>
              <option [value]="365">year</option>
            </select>
          </div>
        </div>
        
        <div class="modal-actions">
          <button class="cancel-btn" (click)="closeEditModal()">cancel</button>
          <button class="save-btn" (click)="saveEditedTask()">save</button>
        </div>
      </div>
    </div>
    

  <!------------------------ Discard changes modal -->
  <div *ngIf="showDiscardModal" class="modal-overlay">
    <div class="modal">
      <h3 class="modal-title">let's pause</h3>
      <p class="label-title">are you sure you want to close without saving?</p>
      <div class="modal-actions">
        <button class="cancel-btn" (click)="confirmDiscard()">discard</button>
        <button class="save-btn" (click)="showDiscardModal = false">keep editing</button>
        
      </div>
    </div>
  </div>

  <!------------------------ Delete Confirmation Modal -->
  <div class="modal-overlay" *ngIf="showDeleteModal">
    <div class="modal">
      <h3 class="modal-title">not into this anymore?</h3>
      <p class="label-title">are you sure you want to delete "{{ taskToDelete?.title }}"?</p>
      <p class="error">
        this action is permanent, once deleted your to-do card cannot be recovered
      </p>
      
      <div class="modal-actions">
        <button class="cancel-btn" (click)="showDeleteModal = false">cancel</button>
        <button class="cancel-btn" id="delete" (click)="confirmDelete()">delete</button>
      </div>
    </div>
  </div>



</div>