<div class="task-list">

  <h3>stuff to do starts here</h3>

  <div class="controls-panel">
    
    <!-- priority sort button -->
    <button 
      class="sort-btn" 
      (click)="toggleSortOrder()"
      [disabled]="selectedFilter !== 'all'">
      <!-- priority {{ isPriorityAscending ? '⬇️' : '⬆️' }} -->
       priority ↑↓ 
    </button>

    <!-- date sort button PENDING -->
    <!-- <button 
      class="sort-btn" 
      (click)="toggleDateSort()">
      date {{ isDateAscending ? '⬇️' : '⬆️' }}
    </button> -->

    <!-- filter dropdown -->
    <div class="filter-container">
      <label>filter</label>
      <select (change)="filterTasks($event)">
        <option value="all">all</option>
        <option value="critical">critical</option>
        <option value="focus">focus</option>
        <option value="pipeline">pipeline</option>
      </select>
    </div>

    <!-- slider for "show only top 3 tasks" -->
    <div class="sort-container">
      <span>top 3 </span>
      <label class="switch">
        <input id="topTasksToggle" type="checkbox" (change)="toggleTopTasks()">
        <span class="slider"></span>
      </label>
    </div>

    <!-- slider for "show comlpleted" -->
    <div class="sort-container">
      <span>hide done </span>
      <label class="switch">
        <input id="completedTasksToggle" type="checkbox" (change)="toggleShowCompleted()">
        <span class="slider"></span>
      </label>
    </div>

    <!-- new task button -->
    <button class="new-task-btn" (click)="openNewTaskModal()">
      ➕ new
    </button>

  </div>

  <div *ngIf="(tasks ?? []).length > 0; else noTasks">

    <app-task-item 
      *ngFor="let task of tasks" 
      [task]="task"
      (toggleCompleted)="toggleTaskCompletion($event)">
    </app-task-item>

  </div>

  <ng-template #noTasks>
    <p>create a new to-do</p>
  </ng-template>

  <!-- new task modal -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal">
    <h3>new stuff</h3>

    <label>what are you gonna do?</label>
    <input type="text" [(ngModel)]="newTaskTitle" placeholder="choose a title" (input)="validateForm()">
    <p class="error" *ngIf="titleError">{{ titleError }}</p>


    <label>add some info if needed</label>
    <textarea [(ngModel)]="newTaskDescription" placeholder="description" (input)="validateForm()"></textarea>
    <p class="error" *ngIf="descriptionError">{{ descriptionError }}</p>

    <label>choose priority</label>
    <select [(ngModel)]="newTaskPriority">
      <option value="1">critical</option>
      <option value="2">focus</option>
      <option value="3">pipeline</option>
    </select>

    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeModal()">cancel</button>
      <button class="save-btn" (click)="saveTask()" [disabled]="!isFormValid">create</button>
    </div>
  </div>
</div>


</div>