<!-- <nav class="navbar">
  <a routerLink="/" class="logo">flowx</a>

  <div class="nav-links">
    <a routerLink="/flowxboard" routerLinkActive="active-link" *ngIf="isLoggedIn()">Tasks</a>
    <a routerLink="/done" routerLinkActive="active-link" *ngIf="isLoggedIn()">Completed</a>
    <a routerLink="/settings" routerLinkActive="active-link" *ngIf="isLoggedIn()">Settings</a>
    <a routerLink="/about" routerLinkActive="active-link">About</a>

    <button class="nav-btn" *ngIf="!isLoggedIn()" routerLink="/login">Login</button>
    <button class="nav-btn" *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
  </div>
</nav> -->

<!-- <nav class="navbar">
  <a routerLink="/" routerLinkActive="ignore-active" class="logo">flowx</a>
  <div class="nav-links">
    <a routerLink="/flowxboard" routerLinkActive="active-link">flowxboard</a>
    <a routerLink="/done" routerLinkActive="active-link">done</a>
  </div>
</nav> -->

<nav class="navbar">
  <!-- <a routerLink="/" routerLinkActive="ignore-active" class="logo">flowx</a> -->

  <a [routerLink]="isLoggedIn() ? '/flowxboard' : '/'" routerLinkActive="ignore-active" class="logo">
    flowx
  </a>

  <div class="nav-links" *ngIf="isLoggedIn(); else loginLink">
    <a routerLink="/flowxboard" routerLinkActive="active-link">flowxboard</a>
    <a routerLink="/done" routerLinkActive="active-link">done</a>
    <button (click)="logout()" class="logout-btn">logout</button>
  </div>

  <ng-template #loginLink>
    <div class="nav-links">
      <a routerLink="/login" routerLinkActive="active-link" class="login-link">login</a>
      <a routerLink="/signup" routerLinkActive="active-link" class="login-link">sign up</a>
    </div>

  </ng-template>
</nav>


