.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #252525;
  padding: 0.8rem 1.5rem;
  // box-shadow: 0px 2px 5px #00000077;

  .logo {
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.75rem;
    font-weight: 800;
    color: #c1c1c1;
    text-decoration: none;
    text-transform: lowercase;
    cursor: pointer;
    text-decoration: none !important;

    &:hover {
      color: #fff !important;
    }
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 400;
    cursor: pointer;
  }

  a {
    color: #c1c1c1;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #0fb5a5;
    }
  }

  .active-link {
    border-bottom: 2px solid #0fb5a5;
    text-decoration: none;
  }

  // .nav-btn {
  //   background: #0fb5a5;
  //   color: #fff;
  //   border: none;
  //   padding: 8px 12px;
  //   font-size: 0.85rem;
  //   font-weight: bold;
  //   cursor: pointer;
  //   border-radius: 5px;
  //   transition: 0.3s;

  //   &:hover {
  //     background: #0da08f;
  //   }
  // }

  .logout-btn{
    background: #4a4a4a00;
    font-family: 'Baloo 2', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #8c8c8c;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      // color: #0fb5a5;
      color: #6c6c6c;
    }
  }
}


// .menu-btn {
//   display: none;
//   font-size: 1.5rem;
//   background: none;
//   border: none;
//   color: #c1c1c1;
//   cursor: pointer;
// }

@media (max-width: 768px) {
  .nav-links {
    gap: 1rem;
  }

  a {
    font-size: 0.75rem;
  }

  .logo {
    font-size: 1rem;
  }
}

